#ymTitle{
    background: #00A499;
    color: white;
    padding: 10px;
}
#bio-image {
    width: 100%;
    height: auto;
}
#mainContainer{
    background-color: white;
}

#ymFooter{
    background-color: #777;
    text-align: center;
    border-top:4px solid #00A499;
}

